.form *::selection {
	color: var(--c-one);
	background-color: var(--c-two);
}

.form {
	position: fixed;

	top: 0;
	left: 0;

	box-sizing: border-box;
	visibility: hidden;

	grid-template-columns: 1fr 400px;
	grid-template-rows: 1fr;
	grid-column-gap: 40px;
	grid-row-gap: 0px;

	padding: 0 80px;
}
.form__content {
	position: absolute;
	visibility: visible;

	top: 40px;

	width: 100%;
	max-width: 400px;


	justify-items: center;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content;
	grid-column-gap: 0px;
	grid-row-gap: 32px;
	align-content: center;

	box-sizing: border-box;

	padding: 64px 32px;

	background-color: var(--m-one);

	border-radius: 16px;

	-webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.12);
	box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.12);
}
.form_title {
	font-size: 32px;
	font-weight: 400;
	line-height: 36px;

	color: var(--m-three);
}
.form__inputs {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 16px;
}
.form__label {
	width: 100%;
	height: auto;

	padding: 16px;

	background-color: var(--m-one);

	box-sizing: border-box;

	border: 1px var(--c-two) solid;
	border-radius: 8px;
}
.form__input::placeholder {
	color: var(--m-three);
	opacity: .5;
}
.form__input:hover {
	cursor: text;
}
.form__input {
	width: 100%;

	font-size: 20px;
	font-weight: 400;

	color: var(--m-three);

	opacity: 1;
}
.form_submit {
	grid-template-columns: 1fr;
	grid-template-rows: min-content;
	grid-row-gap: 16px;
}
.form__button {
	padding: 16px;

	/* height: 60px; */

	background-color: var(--c-two);
	color: var(--m-one);

	border-radius: 8px;

	font-size: 20px;
	line-height: 28px;
	font-weight: 500;

	transition: 0.2s ease-in-out;
}

.form__button:hover {
	background-color: var(--c-three);
	
}
.form__notice {
	font-size: 16px;
	color: var(--m-three);
	opacity: .5;
	padding-right: 20px;
}
.mob {
	display: none;
}
.desk-form-hidden {
	display: none;
}
.form__close {
	position: absolute;

	top: 12px;
	right: 12px;

	width: 32px;
	height: 32px;

}
.form__close::before {
	content: url(./img/close-icon.svg);
}


@media (max-width: 1200px) {
	
.offset {
	transition: 1s ease-in-out;
}
.offset::before {
	content: '';
	visibility: visible;
	
	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.5);
}
.form__content {
	position: absolute;
	visibility: visible;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
	.mob-form-hidden {
		display: none;
	}
	.mob {
		display: block;
	}
	.form .grid__viewport--fr-1 {
		display: none;
	}
	.form {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		padding: 0 20px;
	}
	.form__content {
		transform: translate(-50%, 0%);
        top: unset;
        bottom: 20px;
        padding: 16px 16px;
	}
	.mob-show .mob-form-hidden {
		display: block;
	}
	.mob-show .mob-form-hidden.grid {
		display: grid;
	}
	.mob-show.form__content {
		transform: translate(-50%, -50%);
        top: 50%;
        bottom: unset;
        padding: 64px 32px;
        border-radius: 16px;
	}
	.form__button:hover {
		background-color: var(--c-two);
		
	}
}