/* FORM.COMPONENT { ... */
	.form {
		/* variables { ... */
		--form__section-max-width: 25em;
		--form__label-padding: calc(var(--gap-default) * 2);
		--form__label-after_top: 4em; /* 55px */
		--form__label-after_font-size: var(--text-size-small); /* 55px */
		/* ... } variables */
	}
	/* CONTENT { ... */
		.form__content {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		/* HEADLINE { ... */
			.form__headline {
				display: grid;

				grid-auto-flow: row;
				grid-gap: 16px;

				justify-items: center;
				text-align: center;
			}
			.form__title {
				width: 100%;
			}
			.form__description {
				font-size: var(--text-size-large);
				line-height: 125%;
			}
		/* ... } HEADLINE */
		/* SECTIONS { ... */
			.form__section {
				width: 100%;
				max-width: var(--form__section-max-width);

				padding: 32px 0;
				
				display: grid;

				grid-auto-columns: 100%;
				grid-auto-flow: row;
				grid-gap: 16px;
			}
			/* LABELS { ... */
				.form__labels-group-title {

				}
				.form__label {
					width: 100%;
					height: auto;
				}
				.form__label-content {
					width: 100%;
					height: auto;
	
					padding: var(--form__label-padding);
		
					background-color: var(--m-one);

					position: relative;
					box-sizing: border-box;
		
					border: 2px var(--c-two) solid;
					border-radius: 8px;
				}
				.form__label.req > .form__label-content { /* wrong input value painted red */
					background-color: rgba(var(--color-danger), 0.05);
					border: 2px rgba(var(--color-danger)) solid;
				}
				.form__label.req > .form__label-content .form__input::placeholder { /* wrong input placeholder painted red */
					color: rgba(var(--color-danger));
					opacity: .75;
				}
				.form__label.req::after {
					width: 100%;
					height: auto;

					display: block;

					color: rgba(var(--color-danger));
				
					font-size: var(--form__label-after_font-size);
				
					padding: var(--gap-default) var(--form__label-padding);
					box-sizing: border-box;
				}
				/* INPUTS { ... */
					.form__input {
						width: 100%;
						height: auto;
					}
					.form__input::placeholder {
						color: var(--m-three);
						opacity: .5;
					}
				/* ... } INPUTS */
				/* CHECKBOXES { ... */
					.form__checkbox {
						display: none;
					}
					.form__checkbox + .form__label-checkbox .form__label-content:before {
						content: url(./img/checkbox_false.svg);
					}
					.form__checkbox:checked + .form__label-checkbox .form__label-content:before {
						content: url(./img/checkbox_true.svg);
					}
					.form__checkbox:checked + .form__label-checkbox .form__label-content {
						background-color: rgb(var(--rgb-color-c-three), .05);
					}
					.form__label-checkbox .form__label-content {
						cursor: pointer;

						display: grid;
						grid-template-columns: min-content auto;
						grid-template-rows: 1fr;
						grid-column-gap: 16px;
						grid-row-gap: 0px;
					}
					.form__label-checkbox .form__label-content:before {
						margin-top: 2.5px;
						width: 17px;
					}
					.direction__info {
						display: grid;
						grid-auto-rows: auto;
						grid-row-gap: 8px;
					}
					.direction__head {
						display: flex;
						justify-content: space-between;
					}
					.direction__description {

					}
				/* ... } CHECKBOXES */
			/* ... } LABELS */
			/* SUBMIT { ... */
				.form__submit {
					justify-items: center;
				}
				.form__button {
					width: fit-content;
					height: fit-content;
					
					padding: calc(var(--gap-default) * 1.5) calc(var(--gap-default) * 4);

					background-color: var(--c-two);
					color: var(--m-one);

					border-radius: 8px;

					transition: 0.2s ease-in-out;
				}
				.form__notice {
					text-align: center;
					opacity: .5;
				}
				.form__harmony {
					width: 50px;
					height: auto;
				}
			/* ... } SUBMIT */
		/* ... } SECTIONS */
		/* LANGUAGE { ... */
			.language {
				width: 100%;

				display: flex;
				justify-content: center;

				padding-top: 32px;
				padding-bottom: 96px;
			}
			.language__content {
				width: fit-content;
				
				display: grid;
				grid-auto-flow: row;
				grid-gap: 8px;

				justify-items: center;
			}
			.language__buttons {
				display: grid;
				grid-auto-flow: column;
				grid-gap: 8px;
			}
			.language__button {
				min-width: 35px;
				width: fit-content;
			}
		/* ... } LANGUAGE */
	/* ... } CONTENT */
	.success {
		visibility: hidden;
		z-index: 105;
	}
	.success.ok {
		visibility: visible;
	}
	
	
	.box {
		position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			text-align: center;
			padding: 32px;
			box-sizing: border-box;
			background-color: white;
			box-shadow: 0 10px 25px rgb(0, 0, 0, 0.25);
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, min-content);
			grid-column-gap: 0px;
			grid-row-gap: 16px;
			align-items: center;
			align-content: center;
		justify-items: center;
	}
	
	
	.success {
		content: '';
		position: fixed;
		background-color: rgb(0, 0, 0, .25);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	
		font-size: 16px;
		line-height: 120%;
		color: var(--tg-theme-text-color);
	}
	
	.success span {
		max-width: 350px;
	}
	/* @media { ... */
		@media screen and (min-width: 1000px) { /* desktop */
			.form__input:hover {
				cursor: text;
			}
			.form__button:hover {
				background-color: var(--c-three);
				
			}
		}
		@media screen and (max-width: 1200px) {
			
		}
		@media screen and (max-width: 1000px) { /* mobile */
			
		}
		@media screen and (max-width: 480px) {
			.form__headline {
				text-align: left;
			}
			.form__button {
				width: 100%;
				padding: calc(var(--gap-default) * 1.5) 0;
			}
		}
		@media screen and (max-width: 360px) {
			.direction__head {
				display: grid;
				grid-auto-flow: row;
				grid-auto-columns: 100%;
				grid-gap: calc(var(--gap-default) / 2);
				justify-content: space-between;
		}
		}
	/* ... } @media */
/* ... } FORM.COMPONENT */