/* SLIDE01.COMPONENT { ... */
	.start {
		/* variables { ... */
			--start__title-max-width: 40.5em; /* 648px */
			--start__subtitle-max-width: 23.75em; /* 380px */
			--start__notice-max-width: var(--viewport-frame-right); /* 500px */
			--start__notice-icon-size: 3em; /* 48px */
		/* ... } variables */

		width: 100%;
		height: 100vh;

		padding: var(--padding-default) 0;

		background: var(--c-two);

		box-sizing: border-box;
	}
	.start-wrapper {
		width: 100%;
		height: 100%;
	}
	/* CONTENT { ... */
	.start__content {
		width: 100%;
		height: 100%;

		display: grid;
		grid-auto-flow: row;
		grid-auto-columns: 100%;
		grid-gap: 32px;

		align-content: space-between;
	}
		/* HEADER { ... */
		.start__header {
			display: grid;

			grid-auto-flow: row;
			grid-gap: 16px;
			grid-auto-columns: 100%;
		}
		.start__title {
			width: 100%;
			max-width: var(--start__title-max-width);
		}
		.start__subtitle {
			width: 100%;
			max-width: var(--start__subtitle-max-width);
		}
		/* ... } HEADER */
		/* FOOTER { ... */
			.start__footer {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-end;
			}
			.translations {
				min-width: 127px;
				display: flex;
				flex-direction: column;
			}
			.translations button {
				width: 100%;

				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;

				font-size: 40px;
				line-height: 40px;
				font-weight: 400;
				text-transform: uppercase;
				
				padding: 4px 0;

				color: var(--c-three);
			}
			.translations button::after {
				content: "";
				width: 32px;
				height: 32px;
				display: inline-block;
				background: url("./img/translationVector.svg");
				background-size: 100% 100%;
			}
			.start__notice {
				max-width: var(--start__notice-max-width);
				position: relative;
			}
			.start__notice::before {
				content: "";
				width: var(--start__notice-icon-size);
				height: var(--start__notice-icon-size);
				display: inline-block;
				background: url("./img/noticeVector.svg");
				background-size: 100% 100%;

				position: absolute;
				top: calc(-1 * calc(var(--start__notice-icon-size) * .8));
				left: calc(-1 * var(--start__notice-icon-size));
			}
		/* ... } FOOTER */
	/* ... } CONTENT */
	/* @media { ... */
	@media screen and (max-width: 768px) { /* mobile */
		.start {
			--start__notice-max-width: 40%;
			--start__notice-icon-size: 2.5em; /* 48px */
		}
	}
	/* ... } @media */
/* ... } SLIDE01.COMPONENT */